<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<title>Mediathek Chapters</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/skins/chapters.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	    <script src="HHUMediathek_Startseite-Dateien/jquery-ui-1.js"></script>
	<script src="/jwplayer/jwplayer.js"></script>
	<script>
		jwplayer.key = "l1I4qfPf1ZS1o4t4rTNYK+3dolhmm/M2vSC6Vg==";
	</script>
</head>

<body>

	<div class="container">
		<div class="row">
			<h3>Mediathek Chapter Testing</h3>
			<p>
				<strong><mark>Wahnsinn!</mark>Geht ne schwangere Frau in die Bäckerei und sagt: "Ich krieg ein Brot"
Darauf der Bäcker: "Sachen gibt's, die gibt's net!</strong>
			</p>
			<hr>
		</div>
		<!--.row -->
	</div>
	<!--./container -->

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="vid" id="container">
					<script src="js/chapter-main.js"></script>
				</div>
				<!--./vid -->
				<a class="btn icon-btn btn-success" onclick="addChapter(playerInstance.getPosition());" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Setze Kapitel</a>
			</div>
			<!--.col -->

		</div>
		<!--./row -->

	</div>
	<!--./container -->

	<div class="container">
		<ul id="draggablePanelList" class="list-unstyled">
			<li class="panel panel-info">
				<div class="panel-heading" onclick="playerInstance.seek(0);">Kapitel 1</div>
				<!-- 
				<button type="button" class="btn btn-default btn-sm btn-round"><span class="glyphicon glyphicon-play"></span></button>
				-->
				<div id="chapter1" class="panel-body">Opening Credits
					<span class="chapters-time">0:00</span>
				</div>

				
			</li>
			<li class="panel panel-info">
				<div class="panel-heading" onclick="playerInstance.seek(12);">Kapitel 2</div>
				<div id="chapter2" class="panel-body" >A dangerous request
					<span class="chapters-time">0:12</span>
				</div>
			</li>
			<li class="panel panel-info">
				<div class="panel-heading" onclick="playerInstance.seek(20);">Kapitel 3</div>
				<div id="chapter3" class="panel-body">The Attack
					<span class="chapters-time">0:20</span>
				</div>
			</li>
		</ul>
	</div>

</body>

</html>