<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Mediathek jwPlayer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="/skins/bekle.css" rel="stylesheet" type="text/css" />
	<link href="/js/hhu-player.css" rel="stylesheet" type="text/css" />
    
    <script src="//134.99.218.18:443/jwplayer/jwplayer.js"></script>
    <script>jwplayer.key="l1I4qfPf1ZS1o4t4rTNYK+3dolhmm/M2vSC6Vg==";</script>
        <div class="container">
            <div class="row">
            <h2 class="text-center">Mediathek JW-Player Testing</h2>
            <ul class="list-inline">
                <li><a href="/">Video</a></li>
                <li><a href="/thumbnail">Thumbnails</a></li>
                <li><a href="/test">Mediathek Video</a></li>
                <li><a href="https://github.com/lidox/mediathek-jwplayer">Github</a></li>
            </ul>  
            </div>
        </div> 
</head>
<body>
   
    <div class="container">
    	<div class="mycontainer">   

		<video id="player">
        <script type="text/javascript">

            var playerInstance = jwplayer('player');
            playerInstance.setup({
                skin: {
                    active: "#4b90c9",  
                },
                sources: [{
                   file: "//content.jwplatform.com/videos/C4lp6Dtd-1280.mp4",
                   label: "720p HD"
                },{
                   file: "//content.jwplatform.com/videos/C4lp6Dtd-640.mp4",
                   label: "360p SD",
                   "default": "true"
                },{
                    file: "//content.jwplatform.com/videos/C4lp6Dtd-640.mp4",
                    label: "180p Web"
                }],

                image: "//content.jwplatform.com/thumbs/3XnJSIm4-640.jpg",
                width: 640,
                height: 270,
                volume: 2,
                "controlbar":"bottom",
				
				
				
                // thumbnails + captions
                tracks: [
                {
                    //chapters
                    file: '/assets/chapters.vtt',
                    kind: 'chapters' 
                },{ 
                    // thumbnails
                    file: "/assets/thumbnails.vtt", 
                    kind: "thumbnails"
                },{ 
                    // captions
                    file: "/assets/captions-en.vtt", 
                    label: "English",
                    kind: "captions"
                },{ 
                    // captions
                    file: "/assets/captions-de.vtt", 
                    label: "Deutsch",
                    kind: "captions", 
                }],
                
                // html5 with fallback to flash
                modes: [
                    { type: "html5" },
                    { type: "flash", src: "player.swf" }
                ],
                
                logo: {
                    file: "//mediathek.hhu.de/images/uni_duesseldorf_logo.png",
                    link: "//mediathek.hhu.de"
                },
                abouttext: 'Video Available at the hhu mediathek',
                aboutlink: 'http://mediathek.hhu.de',
               
                plugins:{
		              "http://dev.powered-by-haiku.co.uk/solutions/tracky/code/tracky.js":{}
	            },
                                 
	            width:"100%",
	            "aspectratio":"16:9"
                                 
               });
        </script>
		<script src="/js/hhu-player.js"></script>
		
		</video>
			
		<script src="/js/vtt-creator.js"></script>
		<script>
			var vtt = new VTTCreator();
			var text = vtt.getTextOfVTT('sprite.png', 400, 166, 39, 2); // 320, 180, 7200, 2 // 120, 52, 39, 2
			var secsPerImgae = vtt.getSecondsPerImage(39, 2);
			//console.log(text);
			console.log('seconds per image: ' + secsPerImgae);
		</script>
        
    </div>

    </div>
    
    <h3>
    <a href="#" onclick="playerInstance.seek(15);" class="watch-chapters-list-anchor"><span class="watch-chapters-chapter">							
    <span class="watch-chapters-chapternumber">Zitatfunktion:</span>		
    <span class="watch-chapters-chaptertext">Springe auf die Stelle 00:15s</span>
    </span>													
    </a>
    </h3>
    
    <h3>
    <a href="#" onclick="playerInstance.plugins.tracky.seekToNextChapter();" class="watch-chapters-list-anchor"><span class="watch-chapters-chapter">									
    <span class="watch-chapters-chapternumber">Kapitelfunktion:</span>		
    <span class="watch-chapters-chaptertext">Springe zum nächsten Kapitel</span>
    </span>														
    </a>
    </h3>

</body>
</html>