<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Mediathek jwPlayer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="/skins/bekle.css" rel="stylesheet" type="text/css" />
	<link href="/js/hhu-player.css" rel="stylesheet" type="text/css" />
    
    <script src="//134.99.218.18:443/jwplayer/jwplayer.js"></script>
    <script>jwplayer.key="l1I4qfPf1ZS1o4t4rTNYK+3dolhmm/M2vSC6Vg==";</script>
        <div class="container">
            <div class="row">
            <h2 class="text-center">Mediathek JW-Player Testing</h2>
            <ul class="list-inline">
                <li><a href="/">Video</a></li>
                <li><a href="/thumbnail">Thumbnails</a></li>
                <li><a href="/test">Mediathek Video</a></li>
                <li><a href="https://github.com/lidox/mediathek-jwplayer">Github</a></li>
            </ul>  
            </div>
        </div> 
</head>
<body>
   
    <div class="container">
    	<div class="mycontainer">   

		<video id="video">
        <script type="text/javascript">

            var playerInstance = jwplayer('video');
            playerInstance.setup({
                skin: {
                    active: "#4b90c9",  
                },
                sources: [{
                   file: "//content.jwplatform.com/videos/C4lp6Dtd-1280.mp4",
                   label: "720p HD"
                },{
                   file: "//content.jwplatform.com/videos/C4lp6Dtd-640.mp4",
                   label: "360p SD",
                   "default": "true"
                },{
                    file: "//content.jwplatform.com/videos/C4lp6Dtd-640.mp4",
                    label: "180p Web"
                }],

                image: "//content.jwplatform.com/thumbs/3XnJSIm4-640.jpg",
                width: 640,
                height: 270,
                volume: 2,
                
                // thumbnails + captions
                tracks: [
                {
                    //chapters
                    file: '/assets/chapters.vtt',
                    kind: 'chapters' 
                },{ 
                    // thumbnails
                    file: "/assets/thumbnails.vtt", 
                    kind: "thumbnails"
                },{ 
                    // captions
                    file: "/assets/captions-en.vtt", 
                    label: "English",
                    kind: "captions"
                },{ 
                    // captions
                    file: "/assets/captions-de.vtt", 
                    label: "Deutsch",
                    kind: "captions", 
                }],
                
                // html5 with fallback to flash
                modes: [
                    { type: "html5" },
                    { type: "flash", src: "player.swf" }
                ],
                
                logo: {
                    file: "//mediathek.hhu.de/images/uni_duesseldorf_logo.png",
                    link: "//mediathek.hhu.de"
                },
                abouttext: 'Video Available at the hhu mediathek',
                aboutlink: 'http://mediathek.hhu.de',
               
                plugins:{
		              "http://dev.powered-by-haiku.co.uk/solutions/tracky/code/tracky.js":{}
	            },
                                 
	            width:"100%",
	            "aspectratio":"16:9"
                                 
               });
        </script>
		<script src="/js/hhu-player.js"></script>
 		<!-- 
		<script type="text/javascript">
            var tag = document.querySelector('video');
			tag.defaultPlaybackRate = 1.0;
			tag.playbackRate = 1.0;
			
			function changePlaybackRate() { 
				var tag = document.querySelector('video');
                if(tag.playbackRate != 2.0){
                    tag.playbackRate += 0.5;
                }
                else{
                    tag.playbackRate = 0.5;
                }
                playerInstance.seek(playerInstance.getPosition());
            }        
			
			function jumpBySeconds(seksToJump) {
				var time = playerInstance.getPosition() + seksToJump;
				if(time < 0) { 
					time = 0; 
				}
				playerInstance.seek(time);
            }
			
			function displayButtons() {
				var playButton = document.getElementsByClassName('jw-controls jw-reset')[0];
				playButton.style.display = "block";
            }
			
			function hideButtons() {
				var playButton = document.getElementsByClassName('jw-controls jw-reset')[0];
				playButton.style.display = "none";
            }
			
			function addControlbarListeners(){
				var timer;
				var player = document.getElementsByClassName('jwplayer')[0];
				player.onmouseover = function(){displayButtons();};	
				player.onmouseout = function(){hideButtons();};
				player.addEventListener("mousemove",function(){
					displayButtons();
					clearTimeout(timer);
					timer=setTimeout(mouseStopped,2000);
				});
				
				function mouseStopped(){                               
    				hideButtons();
				}
			}
			
			function addSpeedUpButton(){
                // add button to controlbar
				var myLogo = document.createElement("div");
				myLogo.id = "changeSpeed";
                myLogo.style.paddingLeft = "5px";
                myLogo.style.marginRight = "5px";
                myLogo.style.marginTop = "3px";
				myLogo.setAttribute('class','jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-logo jw-icon-next');
				myLogo.setAttribute('onclick','changePlaybackRate()');
				document.getElementsByClassName('jw-controlbar-left-group')[0].appendChild(myLogo);
			}
			
			function addPlayForwardAndBackwardButtons(){
				// add play 5 sek back button 
				var playBack = document.createElement("img");
				playBack.id = "play10sekback";
                playBack.setAttribute('class','jw-icon jw-icon-display jw-button-color jumpBackward jw-reset');   
				playBack.setAttribute('onclick','jumpBySeconds(-10)');
				
                var middleBar = document.getElementsByClassName('jw-display-icon-container jw-reset')[0];
                middleBar.appendChild(playBack);
                middleBar.setAttribute('style',"background-color:rgba(0, 0, 0, 0.0); border: 0px; display: flex;");
                var playButton = middleBar.childNodes[1];
				middleBar.removeChild(playButton);
				middleBar.appendChild(playButton);

                // add play 5 sek forward button 
				var playForward = document.createElement("img");
				playForward.id = "play10sekforward";
                playForward.setAttribute('class','jw-icon jw-button-color jw-icon-display jw-reset jumpForward');
				playForward.setAttribute('onclick','jumpBySeconds(10)');
                
                var middleBar = document.getElementsByClassName('jw-display-icon-container jw-reset')[0];  
                middleBar.appendChild(playForward);					   	
				// set icon to center
				middleBar.style.width = "100%";
				middleBar.style.margin = "-1.0em auto 0";
			}
			
			playerInstance.onPause(function(){
				console.log("video stopped");
			});
			
			playerInstance.onPlay(function(){
				console.log("video playing...");
			});
            
			playerInstance.onReady(function(){
				addSpeedUpButton();            
				addPlayForwardAndBackwardButtons();
				addControlbarListeners();			
			 });
	
		</script>
		-->
			</video>				
        
    </div>

    </div>
    
    <h3>
    <a href="#" onclick="playerInstance.seek(15);" class="watch-chapters-list-anchor"><span class="watch-chapters-chapter">							
    <span class="watch-chapters-chapternumber">Zitatfunktion:</span>		
    <span class="watch-chapters-chaptertext">Springe auf die Stelle 00:15s</span>
    </span>													
    </a>
    </h3>
    
    <h3>
    <a href="#" onclick="playerInstance.plugins.tracky.seekToNextChapter();" class="watch-chapters-list-anchor"><span class="watch-chapters-chapter">									
    <span class="watch-chapters-chapternumber">Kapitelfunktion:</span>		
    <span class="watch-chapters-chaptertext">Springe zum nächsten Kapitel</span>
    </span>														
    </a>
    </h3>

</body>
</html>